KEYSTONE_SAVED_VARIABLES_PATH=C:/Program Files (x86)/World of Warcraft/_retail_/WTF/Account/NOMBRE_CUENTA/SavedVariables/KeystoneSync.lua
API_BASE_URL=http://localhost:8000
SYNC_TOKEN=pega-aqui-tu-sync-token
